openapi: 3.2.0
info:
  title: UNSWorks Repository REST Root API
  version: '7.0'
  summary: Institution-operated DSpace 7.0 REST/HAL API for the UNSW open-access institutional repository.
  description: UNSWorks is the University of New South Wales open-access institutional repository.
  contact:
    name: UNSW Library — UNSWorks Repository
    email: lib.repository.alerts@unsw.edu.au
    url: https://unsworks.unsw.edu.au/
  x-operator: institution
  x-operator-evidence: Host unsworks.unsw.edu.au is under the institution's own registrable domain unsw.edu.au and resolves to a UNSW-controlled A record, not a vendor CNAME. The OAI-PMH Identify response on the same host names the repository "UNSWorks Repository" with a unsw.edu.au admin contact.
  x-provenance:
    generated: '2026-08-19'
    method: probed
    source:
    - https://unsworks.unsw.edu.au/server/api
    - https://unsworks.unsw.edu.au/server/api/core/communities?size=2
    - https://unsworks.unsw.edu.au/server/api/core/collections?size=1
    - https://unsworks.unsw.edu.au/server/api/core/sites
    - https://unsworks.unsw.edu.au/server/api/core/metadataschemas?size=50
    - https://unsworks.unsw.edu.au/server/api/core/metadatafields/search/byFieldName?query=orcid
    - https://unsworks.unsw.edu.au/server/api/core/entitytypes?size=30
    - https://unsworks.unsw.edu.au/server/api/discover/search/objects?size=1
    - https://unsworks.unsw.edu.au/server/api/core/items/00000000-0000-0000-0000-000000000000
servers:
- url: https://unsworks.unsw.edu.au/server/api
  description: UNSWorks production DSpace 7.0 REST/HAL server (institution-operated).
tags:
- name: Root
  description: Service entry point and HAL link index.
paths:
  /:
    get:
      tags:
      - Root
      operationId: getRoot
      summary: Repository service document
      description: Returns the DSpace HAL entry point, including dspaceName, dspaceVersion and the full _links index for every sub-resource. Verified 200 on 2026-08-19.
      responses:
        '200':
          description: Service document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootServiceDocument'
              examples:
                unsworks:
                  summary: Live UNSWorks response (excerpt)
                  value:
                    dspaceUI: https://unsworks.unsw.edu.au
                    dspaceName: UNSWorks Repository
                    dspaceServer: https://unsworks.unsw.edu.au/server
                    dspaceVersion: DSpace 7.0
                    type: root
components:
  schemas:
    RootServiceDocument:
      type: object
      description: DSpace HAL entry point, captured live from UNSWorks.
      properties:
        dspaceUI:
          type: string
          format: uri
        dspaceName:
          type: string
        dspaceServer:
          type: string
          format: uri
        dspaceVersion:
          type: string
        type:
          type: string
        _links:
          type: object
          additionalProperties:
            type: object
            properties:
              href:
                type: string
              templated:
                type: boolean
      required:
      - dspaceUI
      - dspaceName
      - dspaceServer
      - dspaceVersion
      - type
      - _links
