openapi: 3.2.0
info:
  title: UNSWorks Repository REST Discover API
  version: '7.0'
  summary: Institution-operated DSpace 7.0 REST/HAL API for the UNSW open-access institutional repository.
  description: UNSWorks is the University of New South Wales open-access institutional repository.
  contact:
    name: UNSW Library — UNSWorks Repository
    email: lib.repository.alerts@unsw.edu.au
    url: https://unsworks.unsw.edu.au/
  x-operator: institution
  x-operator-evidence: Host unsworks.unsw.edu.au is under the institution's own registrable domain unsw.edu.au and resolves to a UNSW-controlled A record, not a vendor CNAME. The OAI-PMH Identify response on the same host names the repository "UNSWorks Repository" with a unsw.edu.au admin contact.
  x-provenance:
    generated: '2026-08-19'
    method: probed
    source:
    - https://unsworks.unsw.edu.au/server/api
    - https://unsworks.unsw.edu.au/server/api/core/communities?size=2
    - https://unsworks.unsw.edu.au/server/api/core/collections?size=1
    - https://unsworks.unsw.edu.au/server/api/core/sites
    - https://unsworks.unsw.edu.au/server/api/core/metadataschemas?size=50
    - https://unsworks.unsw.edu.au/server/api/core/metadatafields/search/byFieldName?query=orcid
    - https://unsworks.unsw.edu.au/server/api/core/entitytypes?size=30
    - https://unsworks.unsw.edu.au/server/api/discover/search/objects?size=1
    - https://unsworks.unsw.edu.au/server/api/core/items/00000000-0000-0000-0000-000000000000
servers:
- url: https://unsworks.unsw.edu.au/server/api
  description: UNSWorks production DSpace 7.0 REST/HAL server (institution-operated).
tags:
- name: Discover
  description: Public discovery search over repository objects.
paths:
  /discover/search/objects:
    get:
      tags:
      - Discover
      operationId: searchObjects
      summary: Discovery search across repository objects
      description: Open, unauthenticated discovery search. This is the endpoint that makes UNSWorks usable without credentials, given that /core/items and /core/bitstreams are gated. Verified 200 unauthenticated on 2026-08-19.
      parameters:
      - name: query
        in: query
        required: false
        schema:
          type: string
      - name: dsoType
        in: query
        required: false
        schema:
          type: string
          examples:
          - item
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: Discovery search result envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HalPage'
components:
  schemas:
    HalPage:
      type: object
      description: Generic DSpace HAL paged envelope.
      properties:
        _embedded:
          type: object
        page:
          type: object
          properties:
            size:
              type: integer
            totalElements:
              type: integer
            totalPages:
              type: integer
            number:
              type: integer
        _links:
          type: object
  parameters:
    Page:
      name: page
      in: query
      required: false
      description: Zero-based page index.
      schema:
        type: integer
        minimum: 0
        default: 0
    Size:
      name: size
      in: query
      required: false
      description: Page size.
      schema:
        type: integer
        minimum: 1
        default: 20
